<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>bbc</string>
		<key>name</key>
		<string>BBC News</string>
		<key>feedURL</key>
		<string>https://feeds.bbci.co.uk/news/world/rss.xml</string>
		<key>logoURL</key>
		<string>https://news.bbcimg.co.uk/nol/shared/img/bbc_news_120x60.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>guardian</string>
		<key>name</key>
		<string>The Guardian</string>
		<key>feedURL</key>
		<string>https://www.theguardian.com/world/rss</string>
		<key>logoURL</key>
		<string>https://assets.guim.co.uk/images/guardian-logo-rss.c45beb1bafa34b347ac333af2e6fe23f.png</string>
	</dict>
</array>
</plist>
